* {
    margin: 0;
    padding: 0;
    font-family: 'calibri light', calibri, Arial, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: rgb(0, 51, 128);;
    color: white;
    padding: 10px;
}

body{
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    background-color:#f5f5f5;
}
.menu{
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
    }

h1, h2{ text-align: center; }
h1{ 
    padding: 20px 0; 
    color: rgb(20, 152, 218);
}

h2{ padding-bottom: 20px; }

#informacao, #foto{ float: left; }

#informacao{
    width: 60%;
    padding: 2%;
}

#foto{
    width: 50%;
    padding: 2%;
}

nav{
    text-align: center;
    background-color: rgb(0, 51, 128);
}

nav a{
    padding: 1%;
    font-weight: bold;
    color: black;
    display: inline-block;
    text-decoration: none;
}

nav a:hover{ background-color: rgb(47, 255, 234);
    transition: 2s;
}
#main {
     width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(13, 162, 173, 0.856);
}
    
  
    #content h2 {
        color: #333;
        text-align: center;
    }

.destaque{
    font-weight: bold;
    font-style: italic;
    background-color: rgb(220, 255, 219);
}

section{
    padding: 3%;
    width: 64%;
    margin: 0 auto;
    min-height: 200px;
    box-shadow: 1vm 1vh 1vm 1vh rgba(0,0,0,0.1);
}

section p{
    text-align: center;
    margin-bottom: 10px;
}

article{
    text-align: center;
    border-bottom: .1em solid rgb(47, 144, 255);
    padding: 1%;
}

#tabela{
    width: 100%;
    text-align: center;
    color: rgb(120, 47, 255);
    font-size: 1.2em;
}

#tabela, td, th{
    border: .1em solid rgb(42, 110, 247);
    border-collapse:collapse;
}

#tabela caption{
    font-weight: bold;
    background-color: rgb(49, 124, 244);
    padding: 1%;
}

#tabela thead{ background-color: rgb(73, 0, 128);}

#tabela tbody tr:nth-child(even){
    background-color: rgb(219, 235, 255);
}

footer{
    clear: both;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 55, 128);
    position: absolute;
    bottom: 0;
    left: 0;
}

footer p{
    text-align: center;
    color: black;
    padding-top: 20px;
}



