
#slideshow {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}